/* reset */

*, *::before, *::after {
    box-sizing: border-box;
}

ul[class], ol[class] {
    padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    line-height: 1;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class], ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input, button, textarea, select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* select */

::-moz-selection {
    color: #111;
    background: #ccee00;
}

::selection {
    color: #111;
    background: #ccee00;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top: -5px !important;
    margin: 0 !important;
    float: left;
}

/* style */

* {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 400;
}

body {
    background: #fff;
    margin: 0;
    color: #666;
    font-size: 18px;
    padding: 0;
    font-weight: 300;
}

h1 {
    margin: 0 0 25px 0;
    padding: 0;
    line-height:1;
    font-weight: 700;
    font-size: 40px;
    color: #777;
}

h1 div {
    font-weight: bold;
    color: #111;
    float: left;
}

h2 {
    margin: 25px 0;
    padding: 0;
    line-height: 24px;
    font-weight: 700;
    font-size: 20px;
    color: #888;
}

h3 {
    margin: 25px 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    color: #444;
}

.video {
    position: fixed;
    height: 100vh;
    width: 160px;
    left: 0;
    top: 0;
    background: #222;
}

.video .logo {
    background: #444;
    color: #fff;
    display: block;
    font-family: "Ubuntu" !important;
    font-weight: 700 !important;
    width: 100px;
    border-radius: 10%;
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 90px;
    margin: 30px;
    /* background: linear-gradient( 120deg, #ccee00 0%, #319197 100%); */
}

.tutorial {
    width: calc(100vw - 180px);
    right: 0;
    min-height: 100vh;
    position: absolute;
    top: 0;
}

.tutorial .padding {
    padding: 30px;
}

input {
    padding: 20px;
    width: 100%;
    font-size: 16px;
    background: #eee;
    font-family: 'Roboto Mono', sans-serif !important;
    font-weight: 100 !important;
    color: #222;
    border: 1px solid #ddd;
    line-height: 18px !important;
    border-radius: 4px;
    margin: 0;
}

label {
    margin: 30px 0 10px 0;
    display: block;
    font-size: #222;
}

section {
    background: #222;
    font-size: 16px;
    border: 1px solid #444;
    padding: 25px;
    display: block;
    font-family: 'Roboto Mono', sans-serif !important;
    color: #ddd;
    font-weight: 100;
    line-height: 32px;
    border-radius: 4px;
    margin: 0;
}

section span {
    color: #777;
    font-style: italic
}

.logo {
    -webkit-animation: color_change 12s infinite alternate;
    -moz-animation: color_change 12s infinite alternate;
    -ms-animation: color_change 12s infinite alternate;
    -o-animation: color_change 12s infinite alternate;
    animation: color_change 12s infinite alternate;
}

@-webkit-keyframes color_change {
    0% {
        background-color: #fce441;
    }
    25% {
        background-color: #5df6a5;
    }
    50% {
        background-color: #5ec4e2;
    }
    75% {
        background-color: #c17bee;
    }
    100% {
        background-color: #d74459;
    }
}

@-moz-keyframes color_change {
    0% {
        background-color: #fce441;
    }
    25% {
        background-color: #5df6a5;
    }
    50% {
        background-color: #5ec4e2;
    }
    75% {
        background-color: #c17bee;
    }
    100% {
        background-color: #d74459;
    }
}

@-ms-keyframes color_change {
    0% {
        background-color: #fce441;
    }
    25% {
        background-color: #5df6a5;
    }
    50% {
        background-color: #5ec4e2;
    }
    75% {
        background-color: #c17bee;
    }
    100% {
        background-color: #d74459;
    }
}

@-o-keyframes color_change {
    0% {
        background-color: #fce441;
    }
    25% {
        background-color: #5df6a5;
    }
    50% {
        background-color: #5ec4e2;
    }
    75% {
        background-color: #c17bee;
    }
    100% {
        background-color: #d74459;
    }
}

@keyframes color_change {
    0% {
        background-color: #fce441;
    }
    25% {
        background-color: #5df6a5;
    }
    50% {
        background-color: #5ec4e2;
    }
    75% {
        background-color: #c17bee;
    }
    100% {
        background-color: #d74459;
    }
}

/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #111;
    color: #ccc;
    text-align: center;
    padding: 10px;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    text-transform: uppercase;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #111 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}