* {
    font-family: 'Roboto Mono', sans-serif !important;
    font-weight: 300;
}

body {
    background: #111;
    margin: 0;
    color: #ccc;
    font-size: 12px;
    padding: 0;
    font-weight: 300;
}

a {
    color: #ddd !important;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#fff;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 4px 6px;
    font-size: 12px;
    text-align: left;
}

table {
    width: 340px;
    margin: 10px auto;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}

tr th:first-child, tr td:first-child {
    text-align: center;
    width: 40px;
}

tr th:last-child, tr td:last-child {
    text-align: right;
    width: 60px;
}

.left {
    width: 50vw;
    position: absolute;
    left: 0;
    top: 0;
    padding: 40px;
    text-align: center;
}

.right {
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px;
    text-align: center;
}